In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("StudentsDetails.csv")

In [4]:
print(df.head())

  Name              Subject      Marks
0          AnitaSharma  Data Structures     85
1          RahulVerma   Digital Circuits    78
2          PriyaMenon   Thermodynamics      91
3          Suresh Kumar Operating Systems   67
4          Nandhini Rao Signals and Systems 88

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 1 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Name              Subject      Marks          8 non-null      object
dtypes: object(1)
memory usage: 196.0+ bytes
None

In [28]:
import pandas as pd

# Read file assuming it's aligned by spaces, not commas
df = pd.read_fwf("StudentsDetails.csv")

# Show column names
print(df.columns.tolist())
9
# Preview first few rows
print(df.head())

['Name', 'Subject      Marks']
           Name      Subject      Marks
0   AnitaSharma  Data Structures     85
1    RahulVerma  Digital Circuits    78
2    PriyaMenon  Thermodynamics      91
3  Suresh Kumar  Operating Systems   67
4  Nandhini Rao  Signals and Systems 88

In [29]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                8 non-null      object
 1   Subject      Marks  8 non-null      object
dtypes: object(2)
memory usage: 260.0+ bytes
None

In [30]:
print(df.describe(include='all'))

               Name      Subject      Marks
count             8                       8
unique            8                       8
top     AnitaSharma  Data Structures     85
freq              1                       1

In [31]:
print(df.isnull().sum())

Name                  0
Subject      Marks    0
dtype: int64

In [33]:
df.columns = df.columns.str.strip()

In [34]:
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [35]:
df_cleaned = df.dropna()

In [37]:
df.columns

Index(['Name', 'Subject      Marks'], dtype='object')